<Layouts.app flash={@flash} current_user={@current_user} current_scope={@current_scope}>
  <.header>Users</.header>

  <.table id="users" rows={@users}>
    <:col :let={user} label="Name">{user.name}</:col>
    <:col :let={user} label="Username">@{user.username}</:col>
    <:action :let={user}>
      <.link navigate={~p"/users/#{user}"}>View</.link>
    </:action>
  </.table>
</Layouts.app>
