<Layouts.app flash={@flash} current_user={@current_user} current_scope={@current_scope}>
  <section class="p-6">
    <h1 class="text-2xl font-semibold">Create New Ring</h1>
  </section>
</Layouts.app>
